<div class='flex relative flex-grow'>
  <div class='w-60 space-x-6 bg-blue-500'>
    <p class='mx-6'>Project Name:</p>
    <h1><%= @project.name %></h1>
    <br>
    <p>Project description:</p>
    <h4><%= @project.description %></h4>
    <br>
    <h5>User name: </h5>
    <p><%= " #{current_user.username}" %></p>
    <br>
    <h5>Role: </h5>
    <p><%= " #{current_user.role}" %></p>
    <br>
    <% if policy(@project).edit? %>
      <%= link_to "Edit", edit_project_path,
      class: 'btn-primary' %>
      <%= link_to "Destroy", project_path(@project), data:{turbo_method: :delete}, 
      class: 'btn-primary' %>
    <% end %>
    <% if policy(Issue).new? %>
      <%= link_to "Create Issue", new_project_issue_path(@project), class:'btn-primary' %>
    <% end %>
    <%= link_to "Home", projects_path, 
      class: 'btn-primary' %>
  </div>
  <div class=' mx-6'>
    <p class='text-green-400'>Project Developers:</p>
    <ul>
      <% @project.users.select(&:developer?).each do |user| %>
        <li>
          <%= user.username %>
          <% if policy(Project).new? %>
            <%=button_to "Remove to Project", 
        destroy_user_project_path(@project, user_id: user.id),:method => :delete,
          class: 'btn-primary w-[12rem]' %>        <%end%>
        </li>
      <% end %>
    </ul>
    <% if policy(Project).new? %>
      <br>
      <p class='text-green-400'>Developers to add:</p>
      <ul>
        <% @users.select(&:developer?).each do |user| %>
          <% unless @project.users.include? user %>
            <li>
              <%= user.username %>
              <%=link_to "ADD to Project", add_user_project_path(@project, user_id: user.id),
                class: 'btn-primary' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <%end%>
    <br>
    <br>
    <p class='text-green-400 '>Project QA:</p>
    <ul>
      <% @project.users.select(&:qa?).each do |user| %>
        <li>
          <%= user.username%>
          <% if policy(Project).new? %>
            <%=button_to "Remove to Project", 
          destroy_user_project_path(@project, user_id: user.id),:method => :delete,
            class: 'btn-primary w-[12rem]' %>
          <%end%>
        </li>
      <% end %>
    </ul>
    <% if policy(Project).new? %>
      <br>
      <p class='text-green-400'>QA to add:</p>
      <ul>
        <% @users.select(&:qa?).each do |user| %>
          <% unless @project.users.include? user %>
            <li>
              <%= user.username %>
              <%=link_to "ADD to Project", add_user_project_path(@project, user_id: user.id), 
            class: 'btn-primary' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <%end%>
  </div>
  <div class='mx-40 '>
    <p class='text-green-400'>Project Bugs:</p>
    <br>
    <ul>
      <% @project.issues.select(&:bug?).each do |issue| %>
        <p class=" text-green-500 font-bold  "><%= issue.name %></p>
        <p>Status : <%= issue.status %></p>
        <p>QA : <%= issue.qa&.username %></p>
        <p>Developer : <%= issue.developer&.username %></p>
        <% if policy(issue).edit? %>
          <%= link_to 'Edit', edit_project_issue_path(@project, issue), class: ' btn-primary' %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class='mx-10 '>
    <p class='text-green-400'>Project Features:</p>
    <br>
    <ul>
      <% @project.issues.select(&:feature?).each do |issue| %>
        <p class="text-green-500 font-bold "><%= issue.name %></p>
        <p>Status : <%= issue.status %></p>
        <p>QA : <%= issue.qa&.username %></p>
        <p>Developer : <%= issue.developer&.username %></p>
        <% if policy(issue).edit? %>
          <%= link_to 'Edit', edit_project_issue_path(@project, issue), class: 'btn-primary' %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
