!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bugzilla
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %main
      .flex.flex-col{:class => "min-h-[calc(100vh-40px)]"}
        - if signed_in?
          .h-10.px-5.flex.justify-between.items-center.bg-gray-400
            %h1 Bugzilla
            = " #{current_user.username}"
            %p
              = link_to 'Profile', edit_user_registration_path, class: "mr-2"
              = link_to 'Sign Out', destroy_user_session_path, method: :delete
        .flash-container
          - flash.each do |type, msg|
            %div{:class => "#{['flash-success', 'flash-notice', 'flash-alert'].find { |t| t.include? type }} flash"}
              %span.block.sm:inline= msg
        = yield
  .flex.justify-center.items-center.bottom-0.right-0.left-0.h-10.bg-gray-300
    %p Powered by Jazzari
